---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SkillHeader from '../components/SkillHeader.astro';
import NabVar from '../components/NabVar.astro';
import Main from '../layouts/Main.astro'
import Proyectos from '../components/Proyectos.astro'
import Contactos from '../components/Contactos.astro'
import SkillMain from '../components/SkillMain.astro'
import Logo from '../components/Objetos/Logo.astro'
import Footer from '../components/Footer.astro'

---

<Layout>
	<Header></Header>
	<SkillHeader></SkillHeader>
	<NabVar></NabVar>
	<Main>
		<Proyectos></Proyectos>
	</Main>
	<SkillMain></SkillMain>
	<Logo></Logo>
	<Contactos></Contactos>
	<Footer></Footer>

</Layout>