---

---

<section id="contact" class="w-[70%] h-screen grid place-items-center">
    <h2 class="font-bold text-6xl my-[5vh]">
        <a href="#contact">contact</a>
    </h2>
    <form id="fromContacto" class="w-full h-[90vh] pl-[5%] grid grid-cols-6 grid-rows-12 gap-4">

        <label for="nombre" class="row-start-1 row-end-2 col-start-2 col-end-3">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="bg-red-400 border row-start-2 row-end-3 col-start-2 col-end-4">

        <label for="correo" class="row-start-1 row-end-2 col-start-4 col-end-5">correo</label>
        <input type="email" name="correo" id="correo" class="bg-black border row-start-2 row-end-3 col-start-4 col-end-6">

        <label for="asunto" class="row-start-3 row-end-4 col-start-2 col-end-3">Asunto:</label>
        <input type="text" name="asunto" id="asunto" class="bg-green-800 border row-start-4 row-end-5 col-start-2 col-end-6">


        <label for="mensaje" class="row-start-5 row-end-6 col-start-2 col-end-3">Contenido</label>
        <textarea name="mensaje" id="mensaje" class="bg-blue-400 row-start-6 row-end-8 col-start-2 col-end-6"></textarea>

        <button type="submit" class="border row-start-9 row-end-10 col-start-3 col-end-5">Enviar</button>
    </form>
</section>