
<footer id="footer" class="w-[15%] h-[90vh] fixed left-0 grid place-items-center border-r">
    <aside class="w-full h-[50vh] p-5 grid place-items-center text-[1.2rem]">
        <div class="w-full grid place-items-start gap-3 font-semibold">
            <a href="#about">Home</a>
            <a href="#contact">Contact</a>
		    <slot />
            <a href="#">Github</a>
            <br>
            <button>Change Theme</button>
            
        </div>
    </aside>
</footer>