---

---
<header id="about" class=" grid w-[640px] h-70vh place-items-center gap-5 py-[2vh]">
    <div class="w-[40vh] h-[40vh] rounded-[100%] border border-amber-50 mt-[3vh]">
        <img src="#" alt="Perfil">
    </div>
    <h1 class="font-bold text-[2.5rem]">Gilmer Antony Sopla Lopez</h1>
    <p class="text-[1rem]">Muy obervador y resiliente, con capacidad de resolver problemas con eficiencia</p>
    <button class="w-[20vh] h-[5vh] border rounded-2xl pl-2 bg-[#1f1f1f] hover:bg-[#00C2FF] hover:text-[#000000] fixed top-10 right-[30vh]">
        Descarga CV.
    </button>
    
</header>