---

---
<header id="about" class=" grid w-[640px] h-70vh place-items-center gap-5 py-[2vh]">
    <div>
        <img src="/public/pictures/perfil.webp" alt="Perfil" class="rounded-full border border-black w-[40vh] h-[40vh] mt-[3vh]">
    </div>
    <h1 class="font-bold text-[2.5rem]">Gilmer Antony Sopla Lopez</h1>
    <p class="text-[1rem]">Muy obervador y resiliente, con capacidad de resolver problemas con eficiencia</p>
    <button class="w-[20vh] h-[5vh] border rounded-2xl pl-2 bg-[white] font-semibold hover:bg-[#00C2FF] hover:text-[#000000] fixed top-8 right-[25vh]">
        Descarga CV.
    </button>
    
</header>