
<nav class="border-b border-b-[white] w-[640px] flex justify-around my-[5vh] text-2xl">
    <a href="#about" class="">About</a>
    <a href="#" class="">Proyectos</a>
    <a href="#" class="">Contactos</a>
</nav>