---

---
<div id="proyectos" class="w-full min-h-[100vh] grid place-items-center gap-5">
    <h2 class="font-bold text-6xl" >
        <a href="#proyectos">Proyectos</a>
    </h2>
    <section class="w-full h-full grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] gap-3 p-[3vh] place-items-center">
        <article class="w-[350px] h-[280px] border border-black relative rounded-2xl p-1">
            <img src="/public/pictures/game-bg.jpg" alt="imgREF" class="w-full border h-[180px] rounded-t-2xl"> 
            <h3>Zudoku</h3>
            <h4>Time it takes the tree to grow one stage, in hours. Berry trees go through four of these.</h4>
            
        </article>
        <article class="w-[350px] h-[280px] border border-black relative rounded-2xl p-1">
            <img src="/public/pictures/game-bg.jpg" alt="imgREF" class="w-full border h-[180px] rounded-t-2xl"> 
            <h3>Zudoku</h3>
            <h4>Time it takes the tree to grow one stage, in hours. Berry trees go through four of these.</h4>
            
        </article>
        <article class="w-[350px] h-[280px] border border-black relative rounded-2xl p-1">
            <img src="/public/pictures/game-bg.jpg" alt="imgREF" class="w-full border h-[180px] rounded-t-2xl"> 
            <h3>Zudoku</h3>
            <h4>Time it takes the tree to grow one stage, in hours. Berry trees go through four of these.</h4>

        </article>
        <article class="w-[350px] h-[280px] border border-black relative rounded-2xl p-1">
            <img src="/public/pictures/game-bg.jpg" alt="imgREF" class="w-full border h-[180px] rounded-t-2xl"> 
            <h3>Zudoku</h3>
            <h4>Time it takes the tree to grow one stage, in hours. Berry trees go through four of these.</h4>
            
        </article>
    </section>
</div>