<aside class="w-[15%] h-[90vh] grid place-items-center fixed right-0 border-l">
    <div class="w-[70%] grid place-items-center grid-cols-[repeat(auto-fit,_minmax(90px,_1fr))] gap-[1vh] max-sm:w-[640px]">
        <div class="w-[90px] h-[90px] border rounded-3xl grid place-items-center">SKILL</div>
        <div class="w-[90px] h-[90px] border rounded-3xl grid place-items-center">SKILL</div>
        <div class="w-[90px] h-[90px] border rounded-3xl grid place-items-center">SKILL</div>
        <div class="w-[90px] h-[90px] border rounded-3xl grid place-items-center">SKILL</div>
        <div class="w-[90px] h-[90px] border rounded-3xl grid place-items-center">SKILL</div>
        <div class="w-[90px] h-[90px] border rounded-3xl grid place-items-center">SKILL</div>
    </div>
</aside>